.productContainer {
  display: flex;
  margin: 0 auto;
  width: 70%;
  padding: 60px 10px;
  gap: 60px;
}

.productContainer img {
  width: 400px;
  height: 400px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ececec;
}

.product h2 {
  font-size: 4.5rem;
  margin: 0 0 1rem 0;
}
.product p {
  line-height: 2.5rem;
  font-size: 2rem;
}
