.sidebar {
  width: 35%;
  background-color: #2d3439;
  height: calc(100vh - 105px);
  padding: 3rem 5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sidebar img {
  width: 220px;
  height: 50px;
}
.sidebar footer {
  margin-top: auto;
}
